<html>
    <head>
        <title>
            <%=title%>
        </title>
        <%- style %>
    </head>
    <body>
        <nav>
            <%- include('_header'); %>
        </nav>

        <main>
            <%-body %>
        </main>
        <script src="https://kit.fontawesome.com/a2466d3c1a.js" crossorigin="anonymous"></script>
        <%-script%>
    </body>
</html>