<link rel="stylesheet" href="/css/view.css">
<div id="header">
    <p>CSV File Converter</p>
    <div id="searchbox">
        <input type="text" id="search" name="search" onkeyup="find()" placeholder="Enter Text">
        <div id="searchTagBox">
            <p style="font-size: 1rem;">Search With Tag</p>
            <select name="input" id="input">
                <%for(let i=0; i<head.length; i++){ %>
                    <option value="<%=i%>"><%=head[i]%></option>
                <%}%>
            </select>
        </div>
    </div>
</div>
<table style="width: 100%;" id="table">
    <thead id="head">
        <div id="tablehead">
            <tr>
                <%for(let i=0; i<head.length; i++){ %>
                <th><%=head[i]%></th>
                <%}%>
            </tr>
        </div>
    </thead>
    <tbody id="body">
        <%for(let j=0; j<data.length; j++){%>
        <tr>
            <%for(let i=0; i<head.length; i++){ %>
                <td><%=data[j][head[i]]%></td>
            <%}%>
        </tr>
        <%}%>
    </tbody>

</table>
<hr>
<div id="page">
    <div id="prev"><a href="/show/?file_id=<%= id %>&page=<%=previousPage%>">
        <i class="fa-solid fa-caret-left"></i>
    </a></div>
    <div id="dis"><%=page%> / <%= totalPages %></div>
    <div id="next"><a href="/show/?file_id=<%= id %>&page=<%=nextPage%>">
        <i class="fa-solid fa-caret-right"></i>
    </a></div>
</div>
<script src="/js/file.js"></script>